.achievements__wrap {
  background-color: white;
  border-radius: 2px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  @include padding-leader(1);
  @include padding-trailer(2);
}

.achievements__title {
  @include base-base(22px, $dff, 1);
}

.achievements {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: scroll;
}

.achievements__item {
  background-color: theme-color(tertiary);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-bottom: 2px solid #999;
  color: white;

  &:before {
    content: "^";
    width: 16px;
    height: 16px;
    padding-right: 12px;
  }
}
