.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: theme-color(secondary);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
  width: fit-content;
  margin-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: $dff;
  letter-spacing: 0.7px;
  position: relative;
  transition: all 0.2s ease-in;
  border: 0;
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: white;
    background-color: theme-color(primary);
  }
}

.btn--small {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.btn--outline {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  &:active,
  &:focus,
  &:hover {
    color: white;
    opacity: 0.6;
    background-color: transparent;
  }
}

.btn__wrap--center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
