.card {
  @include padding-trailer(2);
  @include padding-leader(2);
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 3px 3px #555555;
  @include margin-trailer(2);
  @include margin-leader(2);

  // SMALL MQ
  @include media-breakpoint-up("sm") {
    @include margin-leader(0);
  }
}
