.character-details {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  @include padding-trailer(1);
  width: 100%;
  @include margin-trailer(2);
  border-radius: 2px;
  box-shadow: 0 0 2px 2px #aaaaaa;
}

.character-details__img {
  width: 100%;
  height: 200px;
  max-height: 300px;
  border-radius: 2px;
  @include object-fit(cover, center);
  @include margin-trailer(1);
}

.character-details__text {
  width: 100%;
  @include pad();
}

.character-details__rating {
  margin-right: auto;
  margin-left: auto;
  display: none;
  // SMALL MQ
  @include media-breakpoint-up("sm") {
    display: block;
  }
}

.character-details__title {
  @include base-base(22px, $hff, 1, 0);
  @include margin-trailer(1);
  text-align: center;
}

.character-details__title--small {
  @include base-base(20px, $hff, 1);
}

.character-details__cta {
  display: flex;
  flex-wrap: wrap;

  .btn {
    max-width: 100%;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px 5px #cacaca;
    width: fit-content;
    min-width: 120px;
  }
}
