.characters {
  @include margin-leader(2);
  color: theme-color(dark);
}

.characters__title {
  display: block;
  width: 100%;
  text-align: center;
}

.characters__instruction {
  text-align: center;
}

.characters__item {
  min-width: 0px;
  color: theme-color(dark);
  box-shadow: 0 0 2px 2px #aaaaaa;


  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    box-shadow: 0 0 4px 4px #999999;
    color: theme-color(dark);
  }
}
