.level {
  background-color: theme-color(tertiary);
  @include padding-leader(2);
  @include padding-trailer(2);
  box-shadow: 0 0 2px 2px #aaaaaa;

}

.level__title {
  display: block;
  width: 100%;
  color: white;
  text-align: center;
}

.level__grid-item {
  color: theme-color(dark);
  position: relative;
  @include margin-trailer(2);
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: theme-color(dark);
  }
}
.level__item--left-dash {
  &::before{
    content: "";
    position: absolute;
    z-index: 1;
    right: 0 - 75px;
    height:5px;
    width: 80px;
    top: calc(50% - 2px);
    background-color: black;
  }
}

.level__item--bottom-dash {
  &::after{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0 - 75px;
    height: 80px;
    width: 5px;
    left: calc(50% - 2px);
    background-color: black;
  }
}

.level__item-img {
  border-radius: 2px;
  @include object-fit(cover, center);
  max-width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  // height: 100%;
}

.level__item-text {
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  bottom: calc(50% - 20px);
  width: auto;
  background-color: rgba(255,255,255,0.4);
  text-align: center;
  border-radius: 16px;
  left:calc(50% - 29px);
  z-index: 3;
  p {
    margin: 0;
  }
}

.level__grid {
  display: flex;
  flex-wrap: wrap;

  .level__grid-item {
    width: span(6 of 12);
    margin-right: gutter(12);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}


@include media-breakpoint-up('md') {
  .level__grid {
    .level__grid-item {
      width: span(4 of 12);
      margin-right: gutter(12);

      &:nth-child(2n) {
        margin-right: gutter(12);
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  .level__grid {
    .level__grid-item {
      width: span(3 of 12);
      margin-right: gutter(12);

      &:nth-child(2n) {
        margin-right: gutter(12);
      }

      &:nth-child(3n) {
        margin-right: gutter(12);
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
