body {
  position: relative;
  padding-top: 55px;
}

#desk-nav {
  display: none;
  .btn {
    margin-top: 1px;
  }
}

#mobile-bar {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 55px;
  background: #11233f;
  top: 0;
  left: 0;
  .btn {
    margin-top: 1px;
  }
}

/* drawer menu of mobile navigation */

.drawer-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  padding: 75px 0; background: theme-color(dark);
  transition-property: all;
  transition-duration: .5s;
  transition-delay: 0s;
  transform-origin: right center;
  -webkit-transform: perspective(500px) rotateY(-90deg);
  transform: perspective(500px) rotateY(-90deg);
  opacity: 0;
  box-shadow: 0px 0px 5px #1E1E1E;
}

.drawer-menu ul {
  padding-left:20px;
  font-family: $dff, sans-serif;
}

.drawer-menu li {
  text-align: left;
  list-style-type: none;
}

.drawer-menu li a {
  display: block;
  height: 55px;
  line-height: 62px;
  font-size: 16px;
  color: #edeeef;
  text-decoration: none;
  transition: all .5s;
  @include base-base(16px, $dff, 0, 0);
  padding: 0;
  font-weight: lighter;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* mobile menu button - label tag */

.menu-btn {
  position: absolute;
  display: block;
  top: 12px;
  right: 11px;
  width: 50px;
  height: 50px;
  z-index: 9999;
}

.bar {
  display: block;
  width: 32px;
  height: 1px;
  margin-top: 7.5px;
  background: #EDEEEF;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.bar.middle {
  top: 10px;
  opacity: 1;
}

.menu-btn__text {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: block;
  visibility: visible;
  opacity: 1;
}


/* Close Menu */

.close-menu {
  position: fixed;
  top: 0;
  right: 250px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  transition-property: all;
  transition-duration: .157s;
  visibility: hidden;
  z-index: 99;
}

.check {
  display: none;
}
/* Checked Effects */

.check:checked ~ .drawer-menu {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  z-index: 999;
}

.check:checked ~ .menu-btn .menu-btn__text {
  visibility: hidden;
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.top {
  width: 32px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
  width: 32px;
  margin-top: 14px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.check:checked ~ .close-menu {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  background: rgba(0, 0, 0, .5);
  visibility: visible;
  opacity: 1;
  z-index: 99;
}

/*  END MOBILE NAVIGATION  */



@media screen and (min-width:768px) {

  /*  Desktop navigation and don't display mobile navigation  */

  .drawer-menu{
    display: none;
  }
  .close-menu{
    display:none;
  }
  #mobile-bar{
    display:none;
  }
  .menu-btn{
    display:none;
  }

  #desk-nav {
    display: flex;
    width: 100%;
    height: 55px;
    top: 0;
    background: theme-color(dark);
    position: fixed;
    z-index: 99;
    .container {
      align-items: center;
      justify-content: space-between;
      margin-left: -24px;
      margin-right: -24px;
      flex-grow: 1;
      & > * {
        width: auto;
      }
    }
  }

  #desk-nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
    align-items: center;
    width: 100%;
    display: flex;
    font-weight: bold;
    margin-bottom: 0px;
    overflow: hidden;
  }

  #desk-nav li a {
    position: relative;
    color: #EDEEEF;
    text-decoration: none;
    letter-spacing: 1.2px;
    @include base-base(14px, $dff, 0, 0);
    padding: 17px 10px;
    opacity: .75;
    margin: 0px 10px;
    letter-spacing: 3px;
    font-weight: 500;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  #desk-nav a:hover {
    color: #606470;
  }

  .desk-nav__logo {
    width: 50px;
    height: auto;
    margin-left: 12px;
    @include object-fit(contain, center);
  }
}
