.slick-track {
@include padding-leader(1);
@include padding-trailer(0.5);  
}

.slick-slide {
  margin-right: 12px;
  margin-left: 12px;
}



.slick-controls {
  background-color: transparent;
  position: absolute;
  border: 0;
  color: white;
  @include base-base(32px, $dff, 0);
  padding: 0;
  padding-top: 0;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 50%;
  top: 50%;
  background-color: $grey;
  cursor: pointer;
  z-index: 4;
  &:hover, &:focus {
    opacity: 0.7;
    outline: none;
  }
  &:active {
    opacity: 0.9;
    background-color: theme-color(dark);
  }
}

.slick-controls--left {
  left: 20px;
}

.slick-controls--right {
  right: 20px;
}


.slick-dots li button:before {
  font-size: 30px;
}
