/* Slideshow container */
.slideshow-container {
  width: 100%;
  @include padding-leader(4);
  @include padding-trailer(2);
  height: auto;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
   box-shadow: 0 0 2px 2px #aaa;
  padding-left: span(1 of 12);
  padding-right: span(1 of 12);
  @include padding-leader(2);
  @include padding-trailer(2);
  // MEDIUM MQ
  @include media-breakpoint-up("md") {
    padding-left: span(2 of 12);
    padding-right: span(2 of 12);
    @include padding-leader(3);
    @include padding-trailer(3);
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
