.storyteller {
  width: 220px;
  height: auto;
  @include object-fit(contain, center);
}
.storyteller__img-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 250px;
  img {
    @include object-fit(contain, center);
    max-width: 150px;
  }
}

.storyteller__dialouge {
  background-color: white;
  box-shadow: 0 0 2px 2px #cdcdcd;
  padding: 16px 32px;
  border-radius: 2px;
  position: relative;
  @include margin-leader(1);
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 60px;
    width: 40px;
    height: 60px;
    background-color: white;
    transform: rotate(45deg);
    z-index: 2;
    display: block;
  }
}

.storyteller__dialouge--left {
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: auto;
    right: 20px;
    width: 40px;
    height: 60px;
    background-color: white;
    transform: rotate(45deg);
    z-index: 2;
    display: block;
  }
}

.storyteller__dialouge-title {
  @include base-base(20px, $hff, 1);
}
