.user-details {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding-left: 24px;
  padding-right: 24px;
  @include padding-leader(1);
  @include padding-trailer(1);
  width: 100%;
  @include margin-trailer(2);
  border-radius: 2px;
  box-shadow: 0 0 2px 2px #cacaca;
  // SMALL MQ
  @include media-breakpoint-up("sm") {
    flex-wrap: nowrap;
  }
  .btn, a {
    color: white;
    @include margin-trailer(1);
  }
}

.user-details__img {
  width: 120px;
  height: 120px;
  margin-right: 24px;
  @include object-fit(contain, center);
}

.user-details__text {
  width: auto;
}
.user-details__text-wrap{
  display: block;
  > * {
    display: inline-block;
    width: auto;
    margin-right: 15px;
  }
}
.user-details__title {
  @include base-base(22px, $hff, 1);
}
