.main_body {
	background-color: grey;
	min-height: calc(80vh - 55px);
	@include padding-leader(3);
	@include padding-trailer(3);
}

.character_main,
.main_body,
.usersetting_main {
	display: flex;
	justify-content: space-around;
}

.website_motto {
	width: 100%;
	text-align: center;
	color: white;
	@include padding-trailer(2);
}

.signin {
	width: 100%;
}

.sign_form {
	border: 1px solid #CCC;
	border-radius: 2px;
	background: white;
	margin: 0 auto;
	padding: 2em;
	width: 100%;
}
/*make space between each user_input*/

.user_input {
	margin-top: 1em;
}
/* make the label show in a single line and properly align all the labels */

.label {
	display: inline-block;
	text-align: left;
}
/*set all text fields have the same font settings and size*/

.input {
	border: 1px solid #999;
	font: 1em sans-serif;
}
/* highlight active input */

.input:focus {
	background: rgba(0,0,0,.1);
	border-radius: 5px;
	outline: none;
}

.input,
.label {
	margin: 0;
	box-sizing: border-box;
}


@include media-breakpoint-up("sm") {
	.main_body{
		@include padding-leader(5);
		@include padding-trailer(5);
	}

	.website_motto {
		@include padding-leader(1);
		width: span(6 of 12);
		margin-right: gutter(12);
	}

	.signin {
		width: span(6 of 12);
		margin-right: 0;
	}
}

@include media-breakpoint-up("md") {
	.main_body {
		@include padding-leader(8);
		@include padding-trailer(8);
	}
	.website_motto {
		@include margin-leader(2);
		width: span(7 of 12);
	}

	.signin {
		width: span(5 of 12);
	}
}
