@mixin span($context: susy-get('columns'), $config: ()) {
  width: span($context, $config);
}
@mixin push($context: susy-get('columns'), $config: ()) {
  margin-left: span($context, $config);
}

.col-sm-6 {
  // SMALL MQ
  @include media-breakpoint-up('sm') {
    @include span(6 of 12);
    margin-right: gutter(12);
  }
}

.col-md-6 {
  // MEDIUM MQ
  @include media-breakpoint-up('md') {
    @include span(6 of 12);
    margin-right: gutter(12);
  }
}

.col-lg-6 {
  // large MQ
  @include media-breakpoint-up('lg') {
    @include span(6 of 12);
    margin-right: gutter(12);
  }
}

.col-xl-6 {
  // Extra Large MQ
  @include media-breakpoint-up('xl') {
    @include span(6 of 12);
    margin-right: gutter(12);
  }
}

.col-sm-4 {
  // SMALL MQ
  @include media-breakpoint-up('sm') {
    @include span(4 of 12);
    margin-right: gutter(12);
  }
}

.col-md-4 {
  @include media-breakpoint-up('md') {
    @include span(4 of 12);
    margin-right: gutter(12);
  }
}

.col-lg-4 {
  @include media-breakpoint-up('lg') {
    @include span(4 of 12);
    margin-right: gutter(12);
  }
}

.col-xl-4 {
  @include media-breakpoint-up('xl') {
    @include span(4 of 12);
    margin-right: gutter(12);
  }
}

.omega-child-2n {
  > * {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.omega-child-3n {
  > * {
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.omega-child-sm-only-2n {
  // SMALL ONLY
  @include media-breakpoint-only('sm') {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.omega-child-md-only-2n {
  // MEDIUM MQ
  @include media-breakpoint-only('md') {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.omega-child-lg-only-2n {
  // LARGE MQ
  @include media-breakpoint-only('lg') {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
