@import "variables";

@font-face {
  font-family: 'icons';
  src:
    url('#{$icomoon-font-path}/icons.ttf?rm0pl') format('truetype'),
    url('#{$icomoon-font-path}/icons.woff?rm0pl') format('woff'),
    url('#{$icomoon-font-path}/icons.svg?rm0pl#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-facebook-with-circle {
  &:before {
    content: unicode($icon-facebook-with-circle); 
  }
}
.icon-download {
  &:before {
    content: unicode($icon-download); 
  }
}
.icon-link {
  &:before {
    content: unicode($icon-link); 
  }
}
.icon-youtube {
  &:before {
    content: unicode($icon-youtube); 
  }
}
.icon-linkedin {
  &:before {
    content: unicode($icon-linkedin); 
  }
}

