.menu-page {
  background-image: url('http://placehold.it/1200x400');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  @include padding-trailer(3);

  * {
    position: relative;
    z-index: 3;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    background-color: theme-color(tertiary);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

.menu-page__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-page__title {
  width: 100%;
  text-align: center;
  color: white;
  @include padding-trailer(1);
}

.menu-page__img {
  width: 220px;
  height: 220px;
  @include object-fit(cover, center);
  @include margin-trailer(2);
}

.menu-page__btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .btn {
    max-width: 350px;
    text-align: center;
    min-width: 220px;
    width: 50%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
